.edit-button {
    position: relative;
    right: 7px;
    float: right;
}

.product-title {
    color: black;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 0;
}

.form-group {
    align-items: center;
    label {
        font-size: 16px;
        font-weight: 600;
    }
    &:last-child {
        align-items: center;
    }
    .form-control {
        font-size: 14px;
    }
}

.inventory-select {
    right: 15px;
}

input[type=number]{
    width: 40px;
} 