.save-button {
    position: relative;
    right: 0px;
    float: right;
    width: 120px;
}

.form-control {
    width: 100%;
}

.product_cards {
    background-color: transparent;
    border: none;
}

.image-label {
    width: 100%;
}

.image-upload {
    padding-top: 10px;
}

.image {
    height: 300px;
    width: 300px;
    border: 1px solid #CED4DA;
}

.img-with-text {
    text-align: justify;
    width: 300px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}