.tab-content {
    width: 100%;
}

.float-right {
    margin-top: 20px;
    float: right;
}

.image-label {
    width: 100%;
}

.image-upload {
    padding-top: 10px;
}

.image {
    height: 300px;
    width: 300px;
    border: 1px solid #CED4DA;
}

.img-with-text {
    text-align: justify;
    width: 300px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.variant-color {
    width: 50px;
    height: 50px;
    border: 1px solid #CED4DA;
}