<div class="container-fluid" *ngIf="loaded">
    <div class="m-t-15">
        <button class="btn btn-primary m-r-10 back-button" type="button"
            routerLink="/products/product-sales/{{productId}}">Back</button>
    </div>
    <div class="card">
        <div class="m-t-15">
            <button class="btn btn-outline-primary m-r-10 edit-button" type="button" (click)="edit()">Edit
                Promotion</button>
        </div>
        <div class="row product-page-main card-body">
            <div class="col-xl-12">
                <h6>ID</h6>
                <p class="mb-0">{{sale._id}}</p>
                <span>&nbsp;</span>
                <h6>Title</h6>
                <p class="mb-0">{{sale.title}}</p>
                <span>&nbsp;</span>
                <h6>Type</h6>
                <p class="mb-0">{{sale.type}}</p>
                <span>&nbsp;</span>
                <h6>Value</h6>
                <p class="mb-0" *ngIf="sale.type == 'amount'">${{sale.value}}</p>
                <p class="mb-0" *ngIf="sale.type == 'percentage'">{{sale.value}}%</p>
                <span>&nbsp;</span>
                <h6>Stackable</h6>
                <p class="mb-0">{{sale.stackable}}</p>
                <span>&nbsp;</span>
                <h6>Start</h6>
                <p class="mb-0">{{sale.start.toString()}}</p>
                <span>&nbsp;</span>
                <h6>End</h6>
                <p class="mb-0">{{sale.end.toString()}}</p>
                <span>&nbsp;</span>
                <h6>Active</h6>
                <p class="mb-0">{{sale.active}}</p>
                <span>&nbsp;</span>
                <h6>Creation Date</h6>
                <p class="mb-0">{{sale._creationDate.toString()}}</p>
                <span>&nbsp;</span>
                <h6>Updated Date</h6>
                <p class="mb-0">{{sale._updatedDate.toString()}}</p>
                <span>&nbsp;</span>
                <h6>Details</h6>
                <div class="mb-0" [innerHTML]="sale.description"></div>
                <span>&nbsp;</span>
            </div>
        </div>
        <div class="m-t-15">
            <button class="btn btn-primary m-r-10 edit-button exit-button" type="button"
                (click)="open(content)">Delete</button>
        </div>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Delete Sale</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 style="margin-top: 7px;">Are you sure you wish to permanently delete?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark"
                    (click)="modal.close('Cancel Delete')">Cancel</button>
                <button type="button" class="btn btn-primary"
                    (click)="modal.close('Confirm Delete');delete()">Delete</button>
            </div>
        </ng-template>
    </div>
</div>