/* You can add global styles to this file, and also import other style files */
/* Add application styles & imports to this file! */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.no-cell-padding td {
    padding: 0px;
}

.no-cell-padding input {
    margin: 0px;
}

span.inline-picture {
    display: inline-block;
    width: 100px;
    height: 100px;
  }

.sub-photo {
      height: 100px;
      width: 100px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .back-button {
    position: relative;
    right: -7px;
    float: right;
    top: -30px;
}

.tab-content {
  width: 100%;
}

.card-body {
  width: 100%;
}

.card {
  width: 100%;
}

.plus-icon {
  padding-left: 12px;
  width: 27px;
}

.minus-icon {
  width: 27px;
  padding-left: 12px;
  height: 2px;
}

.link-icon {
  height: 25px;
  margin: 10px;
}

.product_card {
  height: 350px;
  width: 280px;
  min-width: 280px;
  min-height: 350px;
}

.span-button {
  width: 100%;
}